@charset "UTF-8";

.container {
    display: flex;
    justify-content: center;
}

.kakao-login {
    position: relative;
    top: 7px;
}

.profile {
    width: 200px;
}

.post-list-container {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* 컨텐츠가 중앙에 정렬되도록 설정 */
}

.post-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 18px;
}

.post-table th, .post-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.post-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.post-table tr:hover {
    background-color: #f5f5f5;
}

.write-post-button-container {
    display: flex;
    flex-direction: column; /* 세로 정렬로 변경 */
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.write-post-button {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px; /* 버튼과 ul 태그 사이의 간격 추가 */
}

.write-post-button:hover {
    background-color: #45a049;
}

.page-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-list li {
    margin-right: 5px;
}

.page-list a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.page-list a:hover {
    background-color: #f0f0f0;
}
